html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
    padding: 30px; 
}


.ContainerInicio .Encabezado{
box-align: center;
} 


.ContainerInicio h1 {
    font-family: 'Caesar Dressing', cursive;
    text-align: center;

}
    
.BarraNavegacion {
    text-align: flexbox;
}


